
on post-fs-data
    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth

on boot

# For Bluetooth
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /proc/bluetooth/sleep/proto

    chown bluetooth net_bt_stack /dev/uinput
    chmod 0660 /dev/uinput

    chown bluetooth net_bt_stack /dev/s3c2410_serial0
    chmod 0660 /dev/s3c2410_serial0
    chmod 0770 /sys/class/rfkill/rfkill0/state
    chmod 0770 /sys/class/rfkill/rfkill1/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill1/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill1/type


## SERVICES ##
service dbus /system/bin/dbus-daemon --system --nofork
    class main
    socket dbus stream 660 bluetooth bluetooth
    user bluetooth
    group bluetooth net_bt_admin net_bt_stack
    disabled


service bluetoothd /system/bin/logwrapper /system/bin/bluetoothd -n
    class main
    socket bluetooth stream 660 bluetooth bluetooth
    socket dbus_bluetooth stream 660 bluetooth bluetooth
    # init.rc does not yet support applying capabilities, so run as root and
    # let bluetoothd drop uid to bluetooth with the right linux capabilities
    group bluetooth net_bt_admin misc net_bt_stack
    disabled

service hfag /system/bin/sdptool add --channel=10 HFAG
    class main
    user bluetooth
    group bluetooth net_bt_admin net_bt_stack
    disabled
    oneshot

service hsag /system/bin/sdptool add --channel=11 HSAG
    class main
    user bluetooth
    group bluetooth net_bt_admin net_bt_stack
    disabled
    oneshot

service opush /system/bin/sdptool add --channel=12 OPUSH
    class main
    user bluetooth
    group bluetooth net_bt_admin net_bt_stack
    disabled
    oneshot

service pbap /system/bin/sdptool add --channel=19 PBAP
    class main
    user bluetooth
    group bluetooth net_bt_admin net_bt_stack
    disabled
    oneshot

service map /system/bin/sdptool add --channel=16 MAS
    class main
    user bluetooth
    group bluetooth net_bt_admin net_bt_stack
    disabled
    oneshot

service hciattach /system/bin/brcm_patchram_plus --enable_hci --baudrate 3000000 --patchram /system/etc/firmware/bcm4329.hcd /dev/s3c2410_serial0
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
   class main
   disabled
   oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

